
/* To remove extra space */ 

.body{
    margin:0px;   
}


/*standard background-image properties*/

.background{
    background-image:url("");
    background-size:cover;
    min-height:100 vh;
}


/* Standard box properties */

.border{
  
    height: 150px ;
    width: 150px ;
    border:2px solid green;
    padding: ;
    margin: ;


   /* Important box property for height and width ..height and width only applies to content only */
   /* It will not allow padding and border to add extra height and width other than specified */ 

   box-sizing: border-box content-box (default property);



    /* content in a box (for stopping over flow)*/

    overflow:hidden;
    overflow:visible;
    overflow:auto;
    overflow-x: scroll;
    overflow-y: scroll;



    min-height:;
    min-width:;
    max-height: ;
    max-width: ;


}



/* very important concept Flex properties */

.flex{

    display: ;
    flex-direction: ;
    justify-content: ;
    align-items: ;

    flex-wrap: ;
    flex-flow: ;
    align-content: ;
    align-self; ;
    flex-grow: ;
    flex-basis: ;
    flex-shrink: ;
    order: ;




    display:flex;  /* in bootstrap d-flex */
    flex-direction:flex-row; /* in bootstrap flex-row,  main axis */
    justify-content:flex-start center  flex-end space-between space-around ; /* Alignment direction in main axis */
    align-items: stretch(default property) flex-start center flex-end;
    
    /* when we choose flex-direction. Items will stretch in oppposite direction i.e; cross axis and stretch will controlled by property align-items */



}










/* Display concept */

.display{
    display:flex;
    display:inline-flex;
    display:grid;
    display:none;
}









