
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* To remove extra space */ 

.body{
    margin:0px;   
}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/*standard background-image properties*/

.background{
    background-image:url("");
    background-size:cover;
    min-height:100 vh;
}

/* Extra background-image properties */

we can set different background color using background-image properties like below 

.background{

    background-image: linear-gradient(to right, #659ebc, #2aaba8, #2aaba8);
    min-height:100vh;

}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Standard box properties */

.border{
  
    height: 150px ;
    width: 150px ;
    border:2px solid green;
    padding: ;
    margin: ;


   /* Important box property for height and width ..height and width only applies to content only */
   /* It will not allow padding and border to add extra height and width other than specified */ 

   box-sizing: border-box content-box (default property);



    /* content in a box (for stopping over flow)*/

    overflow:hidden;
    overflow:visible;
    overflow:auto;
    overflow-x: scroll;
    overflow-y: scroll;



    min-height:;
    min-width:;
    max-height: ;
    max-width: ;


}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* very important concept Flex properties */

.flex{

    display:flex;             /* in bootstrap d-flex */
    flex-direction:row;      /* in bootstrap flex-row,  main axis */
    justify-content:flex-start center  flex-end space-between space-around ; /* Alignment of items in main axis direction */
    align-items: stretch(default property) flex-start center flex-end;
    /* when we choose flex-direction. Items will stretch in oppposite direction i.e; cross axis and stretch will controlled by property align-items */
    flex-wrap :nowrap (default value) wrap ;       /* we have to put */ flex-wrap : wrap ; /*otherwise items will forcefully fill in one row when we choose flex-direction:row; */
    


    align-self: stretch auto flex-end flex-start center;
    /* we can move flex items individually in cross direction ..... attribute auto means it inherit parent property i.e; align-items */
    
    order: -1 0 1 ; 

    we can change order of flex items forward and backward by using order 

    flex-grow: 0 (default value) , 1 , 2;

    /* when they are less flex items in row and we have more space to take over and -> we can increase the size of those flex items by using flex-grow: 0 , 1,2; */
    /* we have to specify to individual items like we have already  applied in  align-self,order properties */



    flex-shrink : 0, 1(default value);

    when we do flex-shrink :0;
    we are saying not to shrink when there is no space for them...
    and we have to apply them individual items....saying not to shrink....

    
    




    display: ;
    flex-direction: ;
    justify-content: ;
    align-items: ;
    order: ;

    flex-wrap: ;
    flex-flow: ;
    align-content: ;
    align-self: ;
    flex-grow: ;
    flex-basis: ;
    flex-shrink: ;
   
}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* Display concept */

.display{
    display:flex;
    display:inline-flex;
    display:grid;
    display:none;
}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.border{
    border:2px solid blue;
    border-left:8px solid green;
}

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* Media Queries */

@media media-type and (media-feature-expression)
  {

  }

1.media-type: screen ,tv , print ,all
    a)for all devices we can use all

2. media-feature expression
   {
      width , min-width, max-width
      height, min-height, max-height
      orientation
      aspect-ratio
      resolution
    }   

e.g: @media print{
    .heading{
        color:blue;
    }
  }

 e.g: @media all{
     .heading{
         color:blue;
     }
    } 


 

 @media (width:200px)
     {

     }
 /* here width:200px means width==200px then condition statisfies */
 /* here min-width:200px means width>=200px then condition statisfies */

@media (orientation:landscape)
  {|
  
  }

/* we can write statements like this */
@media (orientation:landscape) and (min-width:600px)
  {

  }

@media screen and (mediafeature-expression)
  {

  }
/* we can write like this also */

@media screen and (min-width:600px)
  {

  }

  we can use and,not comma operator
  when we use not operator we have to use media type compulsory

  @media not screen and (min-width:400px)
    {

    }

    @media  (min-width:400px) ,(orientation:landscape)
    {
        
    }
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/* for changing mouse cursor */

.cursor{
cursor:not-allowed;
}
